.li {
  background: var(--secondary-color);
}

.movieItem {
  display: flex;
  background: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 50px;
  padding: 1rem;
}

.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--secondary-color) !important;
}

.imageContainer img {
  /* width: 400px;
  height: 400px; */
  width: auto;
  height: auto;
  border-radius: 50px;
}

@media (max-width: 767px) {
  .movieItem {
    flex-direction: column;
  }
}

.detailsContainer {
  margin: 0 auto;
  padding: 0 5%;
  height: 100%;
}

.movieControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
